@model List<Product>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg bg-dark navbar-dark">
        <a href="/" class="navbar-brand">
            <img height="100" src="~/Images/RedLogo.png" />
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/Home/KategoriUrunleri/1" class="nav-link">Beverages</a>
            </li>
            <li class="nav-item">
                <a href="/Home/KategoriUrunleri/2" class="nav-link">Condiments</a>
            </li>
            <li class="nav-item">
                <a href="/Home/KategoriUrunleri/3" class="nav-link">Confection</a>
            </li>
            <li class="nav-item">
                <a href="/Home/KategoriUrunleri/4" class="nav-link">Dairy Products</a>
            </li>
            <li class="nav-item">
                <a href="/Home/KategoriUrunleri/5" class="nav-link">Grains/Cereals</a>
            </li>
            <li class="nav-item">
                <a href="/Home/KategoriUrunleri/6" class="nav-link">Meat/Poultry</a>
            </li>
            <li class="nav-item">
                <a href="/Home/KategoriUrunleri/7" class="nav-link">Produce</a>
            </li>
            <li class="nav-item">
                <a href="/Home/KategoriUrunleri/8" class="nav-link">Seafood</a>
            </li>
            <li class="nav-item">
                <a href="/Home/KategoriUrunleri/9" class="nav-link">Lalot</a>
            </li>


            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Ürün İşlemleri</a>
                <div class="dropdown-menu">
                    <a href="/Product/Index" class="dropdown-item">Ürünleri Listele</a>
                    <a href="/Product/Ekle" class="dropdown-item">Yeni Ürün Ekle</a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="container">
        <table class="table table-striped table-light">
            <tr>
                <th>ID</th>
                <th>Adı</th>
                <th>Stok</th>
                <th>Fiyatı</th>
                <th>Tedarikçisi</th>
                <th>Kategorisi</th>
                <th>İşlem</th>
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.ProductName</td>
                <td>@item.UnitsInStock</td>
                <td>@item.UnitPrice</td>
                @if (item.Supplier != null)
                {
                    <td>@item.Supplier.CompanyName</td>
                }
                else
                {
                    <td style="background-color:darkred; color:white;">Tedarikçi Yok</td>
                }
                @if (item.Category != null)
                {
                    <td>@item.Category.CategoryName</td>
                }
                else
                {
                    <td style="background-color:darkred; color:white;">Kategori Yok.</td>
                }
                <td>
                    <a href="/Product/Duzenle/@item.ProductID" class="btn btn-warning">Düzenle<i class="fas fa-edit"></i></a>
                    <a href="/Product/Sil/@item.ProductID" class="btn btn-danger">Sil<i class="fas fa-trash"></i></a>
                </td>
            </tr>
            }
        </table>
    </div>
</body>
</html>